body {
  Max-width: 800%;
margin: auto;
  }
.main{

    position: relative;
    width:100%;
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.main img{
 
    width: 100%; height: 500px; object-fit: cover; object-position: 50% 50%;
}
.space{
    width:100%;
    height: 60px;
}
.welcome{
 height: 650px;
 background-image: url("images/p\ background.jpg");
 background-size: 1500px 786px;
}
.welcome .background h1{
  font-size: 50px;
 color: white;
}
 .welcome h1 {
  color: black;
  text-align: center;
  }
  .line{
    width:400px;
    height: 2px;
    margin: 0px auto;
    background-color: #ddd;
    margin-top: -5px;
  }
  .paragraph{
    background-image: url("images/blood\ paper.jpg");
  width: 70%;
  background-size: 1366px 786px;
      font-size: 30px; 
text-align: center;          
margin: auto;  

  }
  .paragraph p{
    margin: 10px;
    color: rgb(255, 255, 255);
  }
  .parent_rooms {
    background-image: url("images/background.jpg");
      width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-bottom: -30px;
   
  }
  .parent_rooms h2{
    font-size: 50px;
 color: red;
  text-align: center;
  }
  .parent_rooms .rooms{
    position: relative;
    width: 30%;
    height: 420px;
    float: left;
    margin: 10px;
    overflow: hidden;
    
  }

.parent_rooms .rooms img{
margin-left: auto;
margin-right: auto;
width: 100%;
height: 300px;
display: block;
border-radius: 7px;
border: rgb(226, 181, 181);
}
.parent_rooms .rooms #name{
  color: rgb(128, 5, 5);

  font-size: 30px;
}
.book{
  color: rgb(255, 255, 255);
  height: 350px;
  background-image: url("images/book.jpg");
}
.book h1{
  font-size: 40px;
  text-align: center;
}

#location{
  float: left;
  height: 100px;
  margin-left: 100px;
  width: 100px;
  margin-top: -50px;
  
}
#locationp{
  
  color: rgb(255, 255, 255);
  font-size: 40px;
  
}
#call{
  float: left;
  height: auto;
  margin-left: 100px;
  width: 100px;
}
#callp{
  

  font-size: 40px;
  margin-left: 200px;
}
#working{

text-align: center;


font-size: 40px;
}

@media only screen and (min-width:320px) and (max-width:420px){
  .main{
    position: relative;
    width:100%;
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main .header img{
    width: 75%;
    height: 50%;
  }
  .welcome{
    margin-top: -282px;
    width: 100%;
    height: 320px;
    background-size: 400px 400px;
    
  }
  .welcome .background h1{
    
   left: 70%;
   font-size: 30px;
    
    width: 100%;
    text-align: center;
  }
 .line{
    width: 90px;
  }
  .paragraph{
    width: 80%;
  }
  .paragraph p{
font-size: 10px;
  }
  .parent_rooms{
    
    height: 350px;
  }
  .parent_rooms .rooms{
    width: 26%;
    float: left;
    margin-left: 20px;
  }
  .parent_rooms .rooms img{
    width: 100%;
    
    position: relative;
    height: 120px;
  }
  .parent_rooms h2{
    font-size: 40px;
  }
 
  .parent_rooms .rooms #name{
    font-size: 100%;
    
  }
  .book{
    height: 300px;
  }
  #location{
    margin-top: 10px;
    width: 30px;
    height: 50px;
    float: left;
    margin-left: 10px;
    
  }
  #locationp{
    width: 100%;
    font-size: 20px;
    text-align: center;
    
  }
  #call{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 50px;
  }
  #callp{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
  }

 
}
@media only screen and (min-width:421px) and (max-width:650px){

  .main{
    position: relative;
    width:100%;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main .header img{
    width: 100%;
    height: 83%;
  }
 
 
  
  .welcome{
  
    width: 100%;
    height: 320px;
    background-size: 400px 400px;
    
  }
  .welcome .background h1{
    
   left: 70%;
   font-size: 30px;
    
    width: 100%;
    text-align: center;
  }
 .line{
    width: 90px;
  }
  .paragraph{
    width: 80%;
  }
  .paragraph p{
font-size: 10px;
  }
  .parent_rooms{
    
    height: 350px;
  }
  .parent_rooms .rooms{
    width: 26%;
    float: left;
    margin-left: 20px;
  }
  .parent_rooms .rooms img{
    width: 100%;
    
    position: relative;
    height: 120px;
  }
  .parent_rooms h2{
    font-size: 40px;
  }
 
  .parent_rooms .rooms #name{
    font-size: 100%;
    
  }
  .book{
    height: 300px;
  }
  #location{
    margin: auto;
    width: 30px;
    height: 50px;
   margin-left: 30px;
    
  }
  #locationp{
    width: 70%;
    font-size: 20px;
    margin-left: 70px;
    margin: auto;
  }
  #call{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 50px;
  }
  #callp{
    width: 100%;
    font-size: 20px;
    
    margin-left: 10px;
  

  }
}
@media only screen and (min-width:651px) and (max-width:1200px){
.main{
  width: 100%;
  height: 400px;
}
.main .header img{
  width: 100%;
  height: 300px;
}
.welcome{
  
  width: 100%;
  height: 320px;
  background-size: 650px 420px;
  
}
.welcome .background h1{
  
 left: 70%;
 font-size: 30px;
  
  width: 100%;
  text-align: center;
}
.line{
  width: 90px;
}
.paragraph{
  width: 90%;
}
.paragraph p{
font-size: 13px;
}
.parent_rooms{
  
  height: 350px;
}
.parent_rooms .rooms{
  width: 26%;
  
  margin-left: 30px;
}
.parent_rooms .rooms img{
  width: 90%;
  
  position: relative;
  height: 100px;
  
  
}
.parent_rooms h2{
  font-size: 40px;
}

.parent_rooms .rooms #name{
  font-size: 100%;
  
}
.book{
  height: 300px;
}
#location{
  margin: auto;
  width: 30px;
  height: 50px;
 margin-left: 30px;
  
}
#locationp{
  width: 70%;
  font-size: 20px;
  margin-left: 70px;
  margin: auto;
}
#call{
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 50px;
}
#callp{
  width: 100%;
  font-size: 20px;
  
  margin-left: 10px;


}

}

